@media (max-width: 576px) {
}

body {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
}


.navbar {
  background-color: #f1f3ff;
}

.form-group .dropdown .btn {
  min-width: 300px;
  margin-top: 4px;
}

.search {
  margin-top: 65px;
}

.search .search__card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.search .search__card .search__time .form-select {
  background-image: url("Bahan/fi_clock.png");
  background-size: 20px auto;
}

.search .search__card .form-select:hover {
  border: 1px solid #5CB85F;
  border-radius: 2px;
}

.search .search__card .form-select option:hover, .search .search__card .form-select option:checked {
  background: #C9E7CA;
  color: #5CB85F;
}